#carousel {
  margin: 7.5rem auto 0 auto;
  max-width: 500px;
  @media only screen and (min-width: 992px) {
    max-width: none;
    .carousel-inner {
      display: flex;
      padding: 1em 0;
    }
    .carousel-item {
      display: block;
      flex: 0 0 33.333333%;
      margin-right: 0;
    }
  }
  .card {
    border: 0;
    margin: 0 0.75rem 0 0;
    // &:last-of-type {
    //   margin: 0;
    // }
    .card-title {
      background-color: $lightBlue;
      color: #fff;
      display: flex;
      justify-content: center;
      font-weight: 700;
      margin: 0;
      max-width: 250px;
      padding: 0.75em 1.25em;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    align-items: start;
    height: 3rem;
    opacity: 1;
    transition: none;
    top: -5rem;
    width: 3rem;
  }
  .carousel-control-prev {
    left: auto;
    right: 3.5rem;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    border-radius: 50%;
    height: 100%;
    padding: 1em;
    width: 100%;
  }
  .carousel-control-prev-icon {
    background-color: $darkPurple;
    background-image: url("./../media/carousel__arrow-left.png");
  }
  .carousel-control-next-icon {
    background-color: $darkBlue;
    background-image: url("./../media/carousel__arrow-right.png");
  }
}
