.main {
  padding-top: 113px;
  .main__hero {
    align-items: center;
    background-image: url("./../media/background-lines-xl.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0.75rem 0 0.75rem;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
    .hero__content-header {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      max-width: 350px;
      @media only screen and (min-width: 992px) {
        max-width: none;
      }
      h1 {
        color: $darkPurple;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        @media only screen and (min-width: 992px) {
          font-size: 4rem;
          line-height: 70px;
        }
        br {
          display: none;
          @media only screen and (min-width: 768px) {
            display: block;
          }
        }
      }
      .button-primary {
        margin: 1rem 0 0 0;
        max-width: fit-content;
      }
    }
    .hero__content-image {
      display: flex;
      justify-content: end;
      @media only screen and (min-width: 768px) {
        flex-basis: 50%;
      }
      img {
        max-width: 800px;
        width: 100%;
      }
    }
  }
  .main__M1 {
    padding: 0 0.75rem;
    .M1__article-quantity {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: space-evenly;
      }
      .quantity__content-info {
        margin: 3rem 0 0 0;
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
          margin: 0;
        }
        .info__block {
          border-top: $lightOrange 1px solid;
          display: flex;
          padding: 1rem 0;
          &:last-of-type {
            border-bottom: $lightOrange 1px solid;
          }
          img {
            align-self: center;
            width: 50px;
          }
          & > div {
            padding: 0 0.25rem 0 1.25rem;
            h3 {
              color: $darkPurple;
              font-size: 1.5rem;
              font-weight: 700;
              margin: 0 0 0.5rem 0;
            }
            p {
              color: $darkGrey;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
    .M1__article-location {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: space-evenly;
      }
      .location__content-header {
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
        }
      }
      .location__content-info {
        align-self: center;
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
        }
      }
    }
    .M1__article-technology {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: space-evenly;
      }
      .technology__content-header {
        @media only screen and (min-width: 992px) {
          flex-basis: 25%;
        }
        h2 {
          line-height: normal;
          max-width: none;
        }
      }
      .technology__content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-basis: 30%;
        }
        p {
          font-size: 1.5rem;
        }
        a {
          align-items: center;
          color: $darkPurple;
          display: flex;
          font-size: 1.25rem;
          font-weight: 700;
          justify-content: space-between;
          margin: 1rem 0 0 0;
          text-decoration: none;
          width: 150px;
          &:hover {
            color: $lightOrange;
            svg {
              fill: $lightOrange;
            }
          }
          svg {
            fill: $darkPurple;
          }
        }
      }
      .technology__content-image {
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-basis: 45%;
        }
      }
    }
    .M1__article-control {
      padding: 5rem 0.75rem;
      .control__content-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          align-items: center;
          flex-direction: row;
          margin: 0 auto;
          max-width: 1200px;
        }
        h2 {
          color: $darkPurple;
          font-size: 34px;
          font-weight: 700;
          line-height: normal;
        }
        & > img {
          margin: 1rem 0;
          @media only screen and (min-width: 992px) {
            align-self: center;
            height: 100%;
            transform: rotate(90deg);
            width: 100px;
          }
        }
        & > p {
          color: $darkGrey;
          font-size: 1.5rem;
          line-height: 34px;
        }
      }
    }
  }
  /* Como todos los headers de los articles tienen los mismos estilos, los agrupo acá para no repetir código */
  .quantity__content-header,
  .location__content-header,
  .technology__content-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 475px;
    @media only screen and (min-width: 768px) {
      align-items: flex-start;
      flex-basis: 50%;
      margin: 0 1rem 0 0;
      max-width: 500px;
    }
    h2 {
      color: $darkPurple;
      font-size: 34px;
      font-weight: 700;
      line-height: normal;
      max-width: 360px;
    }
    p {
      color: $darkGrey;
      font-size: 1.5rem;
      line-height: 34px;
      margin: 1rem 0;
    }
    ul {
      list-style-image: url("./../media/bullet.svg");
      margin: 0 auto 0 0;
      padding: 0 0 0 1rem;
      li {
        color: $darkPurple;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 34px;
      }
    }
    a {
      margin: 1rem 0;
    }
  }
  .main__M2 {
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    padding: 5rem 0.75rem;
    @media only screen and (min-width: 992px) {
      flex-direction: row;
      padding: 5rem 1.5rem;
    }
    @media only screen and (min-width: 1200px) {
      justify-content: space-evenly;
    }
    .M2__content-header {
      @media only screen and (min-width: 992px) {
        flex-basis: 50%;
        max-width: 700px;
      }
      & > img {
        max-width: 150px;
      }
      h2 {
        color: #fff;
        font-size: 4rem;
        font-weight: 700;
        line-height: normal;
        margin: 1rem 0;
      }
      p {
        color: #fff;
        font-size: 1.5rem;
        margin: 1rem 0;
        @media only screen and (min-width: 1200px) {
          max-width: 500px;
        }
        &:last-of-type {
          font-weight: 500;
          margin: 1rem 0;
        }
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          justify-content: start;
        }
        img {
          max-width: 125px;
          width: 100%;
        }
      }
    }
    .M2__content-info {
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 992px) {
        align-items: center;
        flex-basis: 50%;
        max-width: 800px;
      }
      .info__container {
        align-items: center;
        display: flex;
        margin: 2rem 0;
        @media only screen and (min-width: 992px) {
          margin: 0 0 2rem 0;
          max-width: 700px;
        }
        svg {
          flex-shrink: 0;
          margin: 0;
        }
        p {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 34px;
          margin: 0 0 0 1rem;
        }
      }
      & > img {
        margin: 0 auto;
        max-width: 600px;
        @media only screen and (min-width: 992px) {
          max-width: none;
          width: 100%;
        }
      }
    }
  }
  .main__M3 {
    padding: 5rem 0.75rem;
    @media only screen and (min-width: 992px) {
      padding: 5rem 0.75rem 12rem 0.75rem;
    }
    @media only screen and (min-width: 1366px) {
      padding: 5rem 0.75rem 25rem 0.75rem;
    }
    .M3__article-you {
      @media only screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-evenly;
      }
      .you__content-header {
        margin: 0 auto;
        max-width: 375px;
        @media only screen and (min-width: 1200px) {
          margin: 0 0 0 3rem;
        }
        h2 {
          color: $darkPurple;
          font-size: 3rem;
          font-weight: 700;
          line-height: normal;
        }
        & > p {
          font-size: 1.5rem;
          line-height: 34px;
          margin: 2rem 0;
        }
      }
      .you__content-image {
        &.mobile {
          align-items: center;
          display: flex;
          flex-direction: column;
          max-width: 400px;
          margin: 7.5rem auto 0 auto;
          position: relative;
          @media only screen and (min-width: 992px) {
            display: none;
          }
          & > img {
            &:nth-of-type(1) {
              left: 0;
              max-width: 80px;
              position: absolute;
              top: -60.77px; /* Tiene que ser exactamente el alto del svg */
            }
          }
          .image_block {
            display: flex;
            flex-direction: column;
            margin: 0 0 0 -50px;
            max-width: fit-content;
            padding: 2rem 0;
            p {
              color: $darkPurple;
              font-family: "Inter", sans-serif;
              font-weight: 700;
              margin: 0 0 1rem 0;
            }
            .bar {
              align-items: center;
              background-color: $lightBlue;
              border-radius: 2rem;
              display: flex;
              height: 20px;
              margin: 0 0 1rem 0;
              min-width: 300px;
              position: relative;
              width: 75%;
              &:last-of-type {
                margin: 0;
              }
              &::after {
                color: $lightOrange;
                content: "100%";
                font-weight: 700;
                margin: 0 0 0 1rem;
                right: -50px;
                position: absolute;
              }
            }
          }
        }
        &.desktop {
          background-image: url("./../media/collage-lg.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: none;
          min-height: 750px;
          @media only screen and (min-width: 1200px) {
            display: flex;
            flex-basis: 70%;
            max-width: 700px;
          }
          .image_block {
            background-color: #fff;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            padding: 2rem 0;
            @media only screen and (min-width: 1200px) {
              display: flex;
              margin: 6.5rem auto auto 2rem;
              max-width: none;
              width: 400px;
            }
            p {
              color: $darkPurple;
              font-family: "Inter", sans-serif;
              font-weight: 700;
              margin: 0 0 1rem 0;
            }
            .bar {
              align-items: center;
              background-color: $lightBlue;
              border-radius: 2rem;
              display: flex;
              height: 20px;
              margin: 0 0 1rem 0;
              min-width: 300px;
              position: relative;
              width: 75%;
              &:last-of-type {
                margin: 0;
              }
              &::after {
                color: $lightOrange;
                content: "100%";
                font-weight: 700;
                margin: 0 0 0 1rem;
                right: -50px;
                position: absolute;
              }
            }
          }
        }
      }
    }
    .M3__article-we {
      padding: 5rem 0 0 0;
      position: relative;
      .we__content-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          align-items: center;
          flex-direction: row;
          margin: 0 auto;
          max-width: 1200px;
          padding: 0 2rem;
        }
        h2 {
          color: $darkPurple;
          font-size: 34px;
          font-weight: 700;
          line-height: normal;
        }
        & > img {
          margin: 1rem 0;
          @media only screen and (min-width: 992px) {
            align-self: center;
            height: 100%;
            transform: rotate(90deg);
            width: 100px;
          }
        }
        & > p {
          color: $darkGrey;
          font-size: 1.5rem;
          line-height: 34px;
        }
      }
      .we__content-main {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5rem auto 0 auto;
        max-width: fit-content;
        width: 100%;
        @media only screen and (min-width: 992px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: start;
          max-width: 750px;
        }
        @media only screen and (min-width: 1366px) {
          max-width: 1300px;
        }
        .main__block {
          margin: 0 1rem;
          padding: 1rem 0;
          width: 450px;
          @media only screen and (min-width: 992px) {
            flex-basis: 45%;
            margin: 0 auto;
            // width: 390px;
          }
          @media only screen and (min-width: 1366px) {
            flex-basis: 30%;
          }
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(4) {
            h3 {
              @media only screen and (min-width: 992px) {
                margin-bottom: 3.5rem;
              }
            }
          }
          &:nth-of-type(4) {
            @media only screen and (min-width: 1366px) {
              margin: 0 0 0 1.25rem;
            }
          }
          &:last-of-type {
            @media only screen and (min-width: 992px) {
              margin: 0 auto 0 1rem;
            }
            @media only screen and (min-width: 1366px) {
              margin: 0 0 0 2.75rem;
            }
          }
          h3 {
            color: $darkPurple;
            font-size: 1.75rem;
            font-weight: 700;
            line-height: normal;
            margin: 1rem 0 1.5rem 0;
          }
          p {
            color: $darkGrey;
          }
        }
      }
      & > img {
        margin: 0 auto;
        max-width: 400px;
        width: 100%;
        @media only screen and (min-width: 992px) {
          position: absolute;
          right: 0;
          top: 650px;
        }
        @media only screen and (min-width: 1200px) {
          top: 650px;
        }
        @media only screen and (min-width: 1366px) {
          top: 450px;
          max-width: 500px;
        }
      }
    }
  }
}
