.main {
  padding-top: 113px;
  .main__hero {
    align-items: center;
    background-image: url("./../media/background-lines-xl.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0.75rem 0 0.75rem;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
    .hero__content-header {
      align-items: start;
      justify-content: center;
      display: flex;
      flex-direction: column;
      max-width: 450px;
      @media only screen and (min-width: 1200px) {
        max-width: 625px;
      }
      h1 {
        color: $darkPurple;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3rem;
        @media only screen and (min-width: 1200px) {
          font-size: 4rem;
          line-height: 70px;
        }
        br {
          display: none;
          @media only screen and (min-width: 768px) {
            display: block;
          }
        }
      }
      .button-primary {
        margin: 1rem 0 0 0;
        max-width: fit-content;
      }
    }
    .hero__content-image {
      display: flex;
      justify-content: end;
      @media only screen and (min-width: 768px) {
        flex-basis: 45%;
      }
      img {
        max-width: 800px;
        width: 100%;
      }
    }
  }
  .main__M1 {
    padding: 0 0.75rem;
    scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
    .M1__article-quantity {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 7.5rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1300px;
      }
      .quantity__content-info {
        margin: 3rem 0 0 0;
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
          margin: 0;
        }
        .info__block {
          border-top: $lightOrange 1px solid;
          display: flex;
          padding: 1rem 0;
          &:last-of-type {
            border-bottom: $lightOrange 1px solid;
          }
          img {
            align-self: center;
            width: 50px;
          }
          & > div {
            padding: 0 0.25rem 0 1.25rem;
            h4 {
              color: $darkPurple;
              font-size: 1.5rem;
              font-weight: 700;
              margin: 0 0 0.5rem 0;
            }
            p {
              color: $darkGrey;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
    .M1__article-location {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 7.5rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1300px;
      }
      .location__content-header {
        padding: 0 0 2rem 0;
        .button-primary {
          margin: 0 auto 0 0;
          max-width: fit-content;
        }
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
        }
      }
      .location__content-info {
        align-self: center;
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
        }
      }
    }
    .M1__article-technology {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 7.5rem 0.75rem 0 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: space-evenly;
      }
      @media only screen and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 1300px;
      }
      .technology__content-header {
        @media only screen and (min-width: 992px) {
          flex-basis: 25%;
        }
        h2 {
          line-height: normal;
          max-width: none;
        }
      }
      .technology__content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-basis: 30%;
          max-width: 370px;
        }
        p {
          font-size: 1.5rem;
        }
        a {
          align-items: center;
          color: $darkPurple;
          display: flex;
          font-size: 1.25rem;
          font-weight: 700;
          justify-content: space-between;
          margin: 1rem 0 0 0;
          text-decoration: none;
          width: 150px;
          &:hover {
            color: $lightOrange;
            svg {
              fill: $lightOrange;
            }
          }
          svg {
            fill: $darkPurple;
          }
        }
      }
      .technology__content-image {
        display: flex;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          flex-basis: 45%;
        }
      }
    }
    .M1__article-integration {
      h2 {
        color: $darkPurple;
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
      }
      p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 34px;
        margin: 2.5rem 0;
      }
      .integration__content-main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 7.5rem 1.5rem 0 1.5rem;
        @media only screen and (min-width: 992px) {
          align-items: center;
          flex-direction: row;
          justify-content: space-evenly;
        }
        @media only screen and (min-width: 1200px) {
          justify-content: space-between;
          margin: 0 auto;
          max-width: 1300px;
        }
      }
      .integration__content-main {
        .main__image {
          display: flex;
          max-width: 500px;
          @media only screen and (min-width: 992px) {
            flex-basis: 45%;
            max-width: none;
          }
        }
        .main__block {
          display: flex;
          flex-direction: column;
          max-width: 475px;
          @media only screen and (min-width: 992px) {
            flex-basis: 45%;
          }
          h2 {
            margin: 1rem 0;
          }
          & > img {
            margin: 0 0 0.75rem 0;
            max-width: 300px;
          }
          p {
            margin: 0.75rem;
          }
        }
      }
    }
    .M1__article-control {
      padding: 7.5rem 0.75rem;
      @media only screen and (min-width: 1200px) {
        margin: 0 auto;
        max-width: 1300px;
      }
      .control__content-header {
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 992px) {
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 auto;
          width: 100%;
        }
        h2 {
          color: $darkPurple;
          font-size: 34px;
          font-weight: 700;
          line-height: normal;
        }
        & > img {
          margin: 1rem 0;
          @media only screen and (min-width: 992px) {
            align-self: center;
            height: 100%;
            transform: rotate(90deg);
            width: 125px;
          }
        }
        & > p {
          color: $darkGrey;
          font-size: 1.5rem;
          line-height: 34px;
          @media only screen and (min-width: 992px) {
            max-width: 500px;
          }
          @media only screen and (min-width: 1200px) {
            max-width: 900px;
          }
        }
      }
    }
  }
  /* Como todos los headers de los articles tienen los mismos estilos, los agrupo acá para no repetir código */
  .quantity__content-header,
  .location__content-header,
  .technology__content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 475px;
    @media only screen and (min-width: 768px) {
      align-items: flex-start;
      flex-basis: 50%;
      margin: 0 1rem 0 0;
      max-width: 500px;
    }
    h2 {
      color: $darkPurple;
      font-size: 34px;
      font-weight: 700;
      line-height: normal;
      max-width: 360px;
    }
    p {
      color: $darkGrey;
      font-size: 1.5rem;
      line-height: 34px;
      margin: 1rem 0;
    }
    ul {
      list-style-image: url("./../media/bullet.svg");
      margin: 0 auto 0 0;
      padding: 0 0 0 1rem;
      li {
        color: $darkPurple;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 34px;
      }
    }
    a {
      margin: 1rem 0;
    }
  }
  .main__M2 {
    background-color: $lightBlue;
    .M2__container {
      display: flex;
      flex-direction: column;
      padding: 5rem 1.5rem;
      @media only screen and (min-width: 992px) {
        flex-direction: row;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1300px;
      }
      .M2__content-header {
        @media only screen and (min-width: 992px) {
          display: flex;
          flex-direction: column;
          flex-basis: 50%;
          justify-content: center;
          margin: 0 1rem 0 0;
          max-width: 700px;
        }
        h2 {
          color: #fff;
          font-size: 4rem;
          font-weight: 700;
          line-height: normal;
          margin: 0 0 1.5rem 0;
        }
        p {
          color: #fff;
          font-size: 1.5rem;
          margin: 1rem 0;
          @media only screen and (min-width: 1200px) {
            max-width: 500px;
          }
          &:last-of-type {
            font-weight: 500;
            margin: 1rem 0 0 0;
          }
        }
        & > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          img {
            margin: 0.5rem;
            max-width: 125px;
            width: 100%;
          }
        }
      }
      .M2__content-info {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 992px) {
          align-items: center;
          flex-basis: 50%;
          justify-content: center;
          margin: 0 0 0 1rem;
          max-width: 800px;
        }
        .info__container {
          align-items: center;
          display: flex;
          margin: 2rem 0;
          @media only screen and (min-width: 992px) {
            margin: 0 0 2rem 0;
            max-width: 700px;
          }
          svg {
            flex-shrink: 0;
            margin: 0;
          }
          p {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 34px;
            margin: 0 0 0 1rem;
          }
        }
        & > img {
          margin: 0 auto;
          max-width: 400px;
          width: 100%;
          @media only screen and (min-width: 992px) {
            max-width: none;
            width: 100%;
          }
        }
      }
    }
  }
  .main__M3 {
    padding: 7.5rem 0 0 0;
    scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
    .M3__article-you {
      @media only screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1300px;
      }
      .you__content-header {
        margin: 0 auto;
        max-width: 500px;
        padding: 0 0.75rem;
        @media only screen and (min-width: 992px) {
          max-width: 530px;
        }
        @media only screen and (min-width: 1200px) {
          margin: 0 auto 0 0;
          padding: 0 1.5rem;
        }
        h2 {
          color: $darkPurple;
          font-size: 2.25rem;
          font-weight: 700;
          line-height: normal;
          @media only screen and (min-width: 400px) {
            font-size: 3rem;
          }
        }
        & > p {
          font-size: 1.25rem;
          line-height: 34px;
          margin: 2rem 0;
          @media only screen and (min-width: 400px) {
            font-size: 1.5rem;
          }
        }
      }
      .you__content-image {
        &.mobile {
          align-items: center;
          display: flex;
          flex-direction: column;
          max-width: 400px;
          margin: 7.5rem auto 0 auto;
          position: relative;
          @media only screen and (min-width: 1200px) {
            display: none;
          }
          & > img {
            &:nth-of-type(1) {
              left: 0;
              max-width: 80px;
              position: absolute;
              top: -82.52px; /* Tiene que ser exactamente el alto del svg */
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              width: 100%;
            }
          }
          .image_block {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: fit-content;
            padding: 2rem 0;
            @media only screen and (min-width: 576px) {
              margin: 0 0 0 -50px;
            }
            h4 {
              color: $darkPurple;
              font-family: "Inter", sans-serif;
              font-weight: 700;
              margin: 0 0 1rem 0;
            }
            .bar {
              align-items: center;
              background-color: $lightBlue;
              border-radius: 2rem;
              display: flex;
              height: 20px;
              margin: 0 0 1rem 0;
              position: relative;
              width: 75%;
              @media only screen and (min-width: 576px) {
                min-width: 300px;
              }
              &:last-of-type {
                margin: 0;
              }
              &::after {
                color: $lightOrange;
                content: "100%";
                font-weight: 700;
                margin: 0 0 0 1rem;
                right: -50px;
                position: absolute;
              }
            }
          }
        }
        &.desktop {
          background-image: url("./../media/collage-lg.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: none;
          min-height: 750px;
          @media only screen and (min-width: 1200px) {
            display: flex;
            flex-basis: 70%;
            max-width: 700px;
          }
          .image_block {
            background-color: #fff;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            max-width: fit-content;
            padding: 2rem 0;
            @media only screen and (min-width: 1200px) {
              display: flex;
              margin: 6.5rem auto auto 2rem;
              max-width: none;
              width: 400px;
            }
            p {
              color: $darkPurple;
              font-family: "Inter", sans-serif;
              font-weight: 700;
              margin: 0 0 1rem 0;
            }
            .bar {
              align-items: center;
              background-color: $lightBlue;
              border-radius: 2rem;
              display: flex;
              height: 20px;
              margin: 0 0 1rem 0;
              min-width: 300px;
              position: relative;
              width: 75%;
              &:last-of-type {
                margin: 0;
              }
              &::after {
                color: $lightOrange;
                content: "100%";
                font-weight: 700;
                margin: 0 0 0 1rem;
                right: -50px;
                position: absolute;
              }
            }
          }
        }
      }
    }
    .M3__article-we {
      padding: 7.5rem 0 0 0;
      position: relative;
      .we__content-header {
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 500px;
        padding: 0 0.75rem;
        @media only screen and (min-width: 992px) {
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          max-width: 1300px;
          padding: 0 2rem;
        }
        @media only screen and (min-width: 1200px) {
          max-width: 1300px;
          padding: 0 1.5rem;
        }
        h2 {
          color: $darkPurple;
          font-size: 34px;
          font-weight: 700;
          line-height: normal;
          @media only screen and (min-width: 1200px) {
            max-width: 1300px;
          }
        }
        & > svg {
          margin: 0 0 0 3rem;
          transform: rotate(90deg);
          @media only screen and (min-width: 992px) {
            margin: 0 1rem;
            transform: none;
          }
        }
        & > p {
          color: $darkGrey;
          font-size: 1.5rem;
          line-height: 34px;
          max-width: 525px;
        }
      }
      .we__content-main {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5rem auto 0 auto;
        max-width: fit-content;
        padding: 0 0.75rem;
        width: 100%;
        @media only screen and (min-width: 992px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: start;
          max-width: 750px;
          padding: 0;
        }
        @media only screen and (min-width: 1366px) {
          align-content: start;
          height: 800px;
          max-width: 1300px;
        }
        .main__block {
          border-top: $lightBlue 1px solid;
          max-width: 450px;
          padding: 2.5rem 0;
          width: 100%;
          @media only screen and (min-width: 992px) {
            flex-basis: 45%;
            margin: 0 auto;
          }
          @media only screen and (min-width: 1366px) {
            flex-basis: 30%;
          }
          &:nth-of-type(4) {
            @media only screen and (min-width: 1366px) {
              margin: 0 0 0 1.25rem;
            }
          }
          &:last-of-type {
            @media only screen and (min-width: 992px) {
              margin: 0 auto 0 1rem;
            }
            @media only screen and (min-width: 1366px) {
              margin: 0 0 0 2.75rem;
            }
          }
          h3 {
            color: $darkPurple;
            font-size: 1.75rem;
            font-weight: 700;
            line-height: normal;
            margin: 1rem 0 1.5rem 0;
          }
          p {
            color: $darkGrey;
          }
        }
      }
      & > img {
        margin: 0 0 0 auto;
        max-width: 400px;
        width: 100%;
        @media only screen and (min-width: 992px) {
          bottom: 0;
          max-width: 325px;
          position: absolute;
          right: 0;
        }
        @media only screen and (min-width: 1200px) {
          max-width: 375px;
        }
        @media only screen and (min-width: 1366px) {
          max-width: 500px;
        }
      }
    }
  }
  .main__M4 {
    background-color: $lightOrange;
    .M4__container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 1300px;
      padding: 5rem 0.75rem;
      @media only screen and (min-width: 992px) {
        flex-flow: row nowrap;
        min-height: 600px;
        padding: 0 2rem;
      }
      @media only screen and (min-width: 1200px) {
        padding: 0 1.5rem;
      }
      .M4__content-info {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 5rem 0;
        @media only screen and (min-width: 992px) {
          align-items: start;
          flex-basis: 40%;
          margin: 0 auto 0 0;
        }

        .info__container {
          display: flex;
          flex-direction: column;
          max-width: 400px;
          h2 {
            font-size: 3rem;
            font-weight: 700;
            line-height: normal;
            margin: 0 0 2rem 0;
          }
          p {
            font-size: 1.75rem;
            line-height: 34px;
            font-weight: 500;
            margin: 0;
          }
          .button-primary {
            margin: 1rem 0 0 0;
            max-width: fit-content;
          }
        }
      }
      .M4__content-video {
        align-items: center;
        color: $darkGrey;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        @media only screen and (min-width: 992px) {
          flex-basis: 60%;
          justify-content: end;
        }
        iframe {
          height: auto;
          max-width: 530px;
          width: 100%;
          @media only screen and (min-width: 400px) {
            height: 350px;
          }
          @media only screen and (min-width: 992px) {
            height: 450px;
            max-width: 700px;
          }
        }
      }
    }
  }
  .main__M5 {
    padding: 7.5rem 0.75rem;
    scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
    @media only screen and (min-width: 1200px) {
      padding: 7.5rem 0;
    }
    .M5__content-header {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto 2.5rem auto;
      @media only screen and (min-width: 1200px) {
        max-width: 1300px;
        padding: 0 1.5rem;
      }
      .header__text {
        max-width: 525px;
        padding: 0 0.75rem;
        text-align: center;
        @media only screen and (min-width: 992px) {
          max-width: 600px;
        }
        @media only screen and (min-width: 1200px) {
          flex-basis: 45%;
          max-width: 525px;
          padding: 0;
        }
        h2 {
          color: $darkPurple;
          font-size: 3rem;
          font-weight: 700;
          line-height: normal;
        }
        & > p {
          color: $darkGrey;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 34px;
          margin: 2rem 0;
        }
      }
    }
    .M5__content-cards {
      align-items: center;
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
      .cards__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (min-width: 768px) {
          flex-direction: row;
        }
        &:first-of-type {
          @media only screen and (min-width: 768px) {
            .container__card {
              &:nth-child(1) {
                margin: 0 1rem 1rem 0;
              }
              &:nth-child(2) {
                margin: 0 0 1rem 0;
              }
            }
          }
          @media only screen and (min-width: 1200px) {
            .container__card {
              &:nth-child(1),
              &:nth-child(2) {
                margin: 0 1rem 0 0;
              }
            }
          }
        }
        &:last-of-type {
          @media only screen and (min-width: 768px) {
            .container__card {
              &:nth-child(1) {
                margin: 0 1rem 0 0;
              }
              &:nth-child(2) {
                margin: 0;
              }
            }
          }
        }
        .container__card {
          box-shadow: 0px 4px 10px 0px rgba(164, 162, 162, 0.25);
          margin: 0 0 1rem 0;
          max-width: 400px;
          padding: 2rem;
          width: 100%;
          @media only screen and (min-width: 1200px) {
            height: 342px;
            max-width: 250px;
          }
          h4 {
            color: $darkPurple;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: normal;
            margin: 1rem 0 2rem 0;
          }
          p {
            line-height: 24px;
          }
        }
      }
    }
  }
  .main__M6 {
    .M6__content-header {
      background-image: url("./../media/background-tires-500.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 7.5rem 0.75rem;
      @media only screen and (min-width: 500px) {
        background-image: url("./../media/background-tires-800.png");
      }
      @media only screen and (min-width: 800px) {
        background-image: url("./../media/background-tires-1200.png");
      }
      @media only screen and (min-width: 1200px) {
        background-image: url("./../media/background-tires-1600.png");
        padding: 7.5rem 0;
      }
      .header__block {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        padding: 0 0.75rem;
        width: 100%;
        @media only screen and (min-width: 1200px) {
          max-width: 1300px;
        }
        h2 {
          font-size: 3rem;
          font-weight: 700;
          line-height: normal;
        }
        p {
          font-size: 1.75rem;
          font-weight: 500;
          line-height: 34px;
          margin: 1.5rem 0 3rem 0;
        }
        .button-primary {
          background-color: $lightOrange;
          max-width: fit-content;
          &:hover {
            background-color: $lightBlue;
          }
        }
      }
    }
  }

  .main__M7 {
    h2 {
      color: $darkPurple;
      font-size: 3rem;
      font-weight: 700;
      line-height: normal;
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 34px;
      margin: 2.5rem 0;
    }
    .M7__content-header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 7.5rem 1.5rem;
      @media only screen and (min-width: 992px) {
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
      }
      @media only screen and (min-width: 1200px) {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1300px;
      }
      .header__block {
        display: flex;
        flex-direction: column;
        max-width: 475px;
        @media only screen and (min-width: 992px) {
          flex-basis: 40%;
        }
      }
      .header__image {
        display: flex;
        max-width: 600px;
        @media only screen and (min-width: 992px) {
          flex-basis: 50%;
          max-width: none;
        }
      }
    }
  }

  .main__M8 {
    align-items: center;
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.5rem 0.75rem 0 0.75rem;
    scroll-margin-top: 110px; /* Altura de la navbar +- ajuste */
    h2 {
      color: #fff;
      font-size: 3rem;
      font-weight: 700;
      line-height: normal;
      text-align: center;
    }
    & > svg {
      height: 60px;
      transform: rotate(90deg);
    }
  }
}
